global-include *.json
global-include *.include
global-include *.html
global-include *.css
global-include *.csv
global-include *.eot
global-include *.tff
global-include *.woff
global-include *.woff2
global-include *.sh
global-include requirements.txt
global-include *.c
global-include *.h
global-include *.sh
global-include *.so
global-include *.map
global-include *.js
global-include *.ts
global-include *.template
graft dash_tools/templating/templates