# Dash Leaflet Template: {appName}

Created on {createTime}

Welcome to your [Plotly Dash](https://plotly.com/dash/) App! This is a template for your app.

See the [Dash Leaflet](https://github.com/thedirtyfew/dash-leaflet) for more information on how to get your app up and running.

## Running the App

Run `src/app.py` and navigate to http://127.0.0.1:8050/ in your browser.
