# Dash Fast-Dash Template: {appName}

Created on {createTime}

Welcome to your [Plotly Dash](https://plotly.com/dash/) App! This is a template for your {appName} app.

See the [Dash Documentation](https://dash.plotly.com/introduction) for more information on how to get your app up and running.

Check out [Fast Dash](https://fastdash.app/) for more details on this template.

## Running the App

Run `src/app.py` and navigate to http://127.0.0.1:8050/ in your browser.