# Dash Multipage Plugin App Template: {appName}

Created on {createTime}

Welcome to your [Plotly Dash](https://plotly.com/dash/) App! This is a template for your {appName} app.

## Running the App

Run `src/app.py` and navigate to http://127.0.0.1:8050/ in your browser.
